body {
    background-image: url('./assets/bg-pastel.jpg'); /* Adjust the path as needed */
    background-size: cover; /* Adjust to your preferred size */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background scrolling */
  }
  